<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Duedate:</strong>
  <%= @project.dueDate %>
</p>

<p>
  <strong>Budget:</strong>
  <%= number_to_currency(@project.budget) %>
</p>

<p>
  <strong>User:</strong>
  <%= @project.user.email %>
</p>
<%= link_to 'Edit Current Project', edit_project_path(@project) %>

<h4>Add new time</h4>
<%= render 'dev_entries/form', dev_entry: @dev_entry %>
<%= render 'dev_entries/listing/singleProject' %>

<%= link_to 'Back to list of projects', projects_path %>
