<style media="screen">
form#new_dev_entry .field {
  display: inline-block;
}
form#new_dev_entry {
  background: #eaeaea;
}
form#new_dev_entry .actions {
    display: inline-block;
}
</style>
<%= form_for(dev_entry) do |f| %>
  <% if dev_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dev_entry.errors.count, "error") %> prohibited this dev_entry from being saved:</h2>

      <ul>
      <% dev_entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :devDate %>
    <%= f.date_select :devDate %>
  </div>

  <div class="field">
    <%= f.label :devDuration %>
    <%= f.text_field :devDuration %>
  </div>

  <div class="field">
    <%= f.label :note %>
    <%= f.text_area :note %>
  </div>

  <div class="field">
    <strong>Current project: </strong> <%= @project.name %>
    <%= f.hidden_field :project_id, value: @project.id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
