<style media="screen">
form#new_dev_entry .field {
  display: inline-block;
}
form#new_dev_entry {
  background: #eaeaea;
  border: 2px solid #444;
  padding: 1rem;
}
form#new_dev_entry .actions {
    display: inline-block;
}
</style>
<%= form_for dev_entry, remote: true do |f| %>
<h2>Enter a time entry</h2>
<p><strong>Current project: </strong> <%= @project.name %></p>
  <% if dev_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dev_entry.errors.count, "error") %> prohibited this dev_entry from being saved:</h2>

      <ul>
      <% dev_entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Date' %>
    <%= f.date_select :devDate %>
  </div>

  <div class="field">
    <%= f.label 'Duration' %>
    <%= f.text_field :devDuration %>
  </div>

  <div class="field">
    <%= f.label 'Notes(optional)' %>
    <%= f.text_area :note %>
  </div>

  <div class="field">
    <%= f.hidden_field :project_id, value: @project.id %>
  </div>

  <div class="actions">
    <%= f.submit 'Enter' %>
  </div>
<% end %>
