<p id="notice"><%= notice %></p>

<strong>Current Entries for <%= @project.name %></strong>

<table>
  <thead>
    <tr>
      <th>Devdate</th>
      <th>Devduration</th>
      <th>Note</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @devEntriesOnProject.each do |project| %>
      <tr>
        <td><%= project.devDate %></td>
        <td><%= project.devDuration %></td>
        <td><%= project.note %></td>
        <td><%= project.user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
